
@import '../../sass/style.scss';
.bar-chart {
    display: flex;
    // border-left: 1px solid $on-surface-color;
    // border-bottom: 1px solid $on-surface-color;
    .bar {
        width: 20px;
        height: 40px;
        margin-left: 5px;
        padding-bottom: 5px;
        margin-bottom: 10px;
        background-color: $primary-color;
    }
    .bar:first-child {
        margin-left: 15px;
        height: 20px;
    }
    .bar:last-child {
        height: 15px;
    }
}