// light theme
$background-color:#FFFFFF;
$on-background-color:#000000;
$surface-color:#FFFFFF;
$on-surface-color:#000000;
$primary-color:#cc3e0f;
$on-primary-color: #FFFFFF;
$secondary-color:#0f9dcc;
$on-secondary-color:#FFFFFF;

$secondary-color-overlay: rgba($secondary-color,0.1);
//padding
$padding-item:10px;


//! shadown
$shadown-color: 0 2px 4px rgba(0,0,0,0.19);

//! global padding
$box-padding: 12px;

