@import "../sass/abstracts/variables.scss";
.accordion {
  background-color: $primary-color;
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  .title {
    padding: 10px;
    cursor: pointer;
  }
  .close {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    transition: all linear 0.2s;
  }
  .rotate {
    transform: rotate(180deg);
  }
  .body {
    background-color: $secondary-color;
    max-height: 0px;
    padding-left: 5px;
    padding-right: 5px;
    transition: all linear 0.2s;
    overflow: hidden;

  }
  .show {
    max-height: 100px;
  }
}
