// tạo bố cục response
    // 1. tao html
    // 2. scss max 576px, min 576, min 768, min 992, min 1200
.f-layout {
  display: flex;
  height: 100vh;
  background-color: gray;
  color: white;
  .nav-bar {
    width: 20%;
    background-color: blue;
    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        text-decoration: none;
        color: white;
      }
    }
    .item:nth-child(1) {
      height: 10vh;
    }
    .item:nth-child(2) {
      height: 5vh;
    }
    .item:nth-child(3) {
      height: 25vh;
    }
    .item:nth-child(4) {
      height: 25vh;
    }
    .item:nth-child(5) {
      height: 25vh;
    }
    .item:nth-child(6) {
      height: 10vh;
    }
  }
  .content {
    width: 80%;
    background-color: gray;
    header {
      height: 10vh;
      display: flex;
      justify-content: left;
      align-items: center;
      img {
        height: 100%;
        border-radius: 50%;
      }
      h1 {
        margin-left: 10px;
      }
    }
    nav {
      height: 5vh;
      ul {
        display: flex;
        align-items: center;
        list-style: none;
        height: 100%;
        background-color: red;
        li {
          display: inline-block;
          margin-left: 10px;
          a {
            text-decoration: none;
          }
        }
      }
    }
    .carousel {
      height: 25vh;
      background-image: url("https://i.pravatar.cc");
      background-position: center;
      background-size: cover;
    }
    .information {
      height: 25vh;
    }
    .service {
      height: 25vh;
    }
    .footer {
      height: 10vh;
    }
  }
}
@media (max-width: 576px) {
  .f-layout {
    padding: 0 5px;
    .nav-bar {
      background-color: red;
    }
    .content {
      .information {
        display: flex;
        width: 100%;
        white-space: nowrap;
        overflow-x: scroll;
        .item {
          background-color: gray;
          height: 100%;
          padding: 10px;
          box-sizing: border-box;
        }
      }
      .service {
        display: flex;
        .item {
          width: 25%;
          img {
            width: 100%;
          }
        }
      }
      footer {
        padding: 10px;
        box-sizing: border-box;
      }
    }
  }
}
@media (min-width: 576px) {
  .f-layout {
    padding: 0 10px;
    .nav-bar {
      background-color: blue;
    }
  }
}
@media (min-width: 768px) {
  .f-layout {
    padding: 0 50px;
    .nav-bar {
      background-color: green;
    }
  }
}
@media (min-width: 992px) {
  .f-layout {
    padding: 0 80px;
    .nav-bar {
      background-color: yellow;
    }
  }
}
@media (min-width: 1200px) {
  .f-layout {
    padding: 0 120px;
    .nav-bar {
      background-color: cyan;
    }
  }
}
